h1 {
    margin: 15px 50px 15px 50px;
    font-size: 40px;
    background-color: chartreuse;
    text-align: center;
    height: 45px;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

ion-col {
    background-color: chartreuse;
    border: solid 1px #000;
    color: #000;
    text-align: center;
    font-weight: 600;
    padding: 15px 0px;
}

@media (max-width: 574px) {
    ion-col {
        margin-bottom: 2px;
    }
}