body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-size: 15px;
}

#formulario {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.campo label {
    width: 100px;
    margin-right: 20px;
}

.campo input {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #D9D9D9;
}

#bottom-field {
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

button {
    margin-top: 5px;
    width: 238px;
    height: 32px;
    display: block;
    background-color: #620D4F;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Inter";
}

